---
sudo: false
jdk:
- oraclejdk8
language: ruby
cache: bundler
rvm:
- jruby-1.7.25
script:
- bundle exec rspec spec
matrix:
  include:
  - rvm: jruby-9.1.10.0
    env: LOGSTASH_BRANCH=master
  - rvm: jruby-1.7.25
    env: LOGSTASH_BRANCH=5.x
  fast_finish: true
